.blog__list {
  display: flex;
  flex-wrap: wrap;
}

.blog__item {
  width: 32%;
  margin-top: 20px;
  margin-right: calc((100% - (32% * 3))/2);
}

.blog__item:nth-child(3n) {
  margin-right: 0;
}

.blog__date {
  font-size: 14px;
}

.blog__item--ttl {
  font-size: 18px;
}

@media screen and (max-width: 768px) {

  .blog__item {
    width: 100%;
    margin-right: 0;
  }
  .blog__item:first-child {
    margin-top: 0px;
  }
}